html, body, #root, .app {
  height: 100%;
}

* {
  margin: 0;
  overflow: hidden;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: grey !important;
}

.spinner {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
}
