.emails-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  font-family: 'Roboto', sans-serif;
}

.emails-header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.emails-header__left__refresh {
  margin-left: 8px!important;
}

.emails-header__left__more {
  margin-left: -8px!important;
}

.emails-header__right {
  display: flex;
  align-items: center;
  min-width: 80px;
  gap: 14px;
  padding-right: 48px;
  font-size: 12px;
  color: #5f6368;
}

.emails-section .MuiButtonBase-root {
  min-width: 24px;
  width: 20px !important;
  padding: 4px !important;
  right: 0 !important;
  height: 20px;
}
