.dropdown__icon {
  gap: 0;
  align-items: center;
}

.dropdown__icon svg {
  width: 20px;
  height: 20px;
}

.dropdown__icon {
  margin: 0 !important;
  padding: 0 !important;
  padding-left: 6px !important;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.dropdown__icon .MuiSvgIcon-root {
  padding: 0 !important;
  margin: 0 !important;
}

.dropdown__icon > .MuiTouchRipple-root {
  visibility: hidden;
}
