.email__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
  background: rgba(242, 245, 245, 0.8);
  cursor: pointer;
  border-spacing: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.875rem;
}

.email__row__selected {
  background: #c2dbff;
}

.email__sender {
  padding-bottom: 4px !important;
  margin: 0;
  height: 20px;
  align-items: center;
}

.email__sender svg {
  width: 20px;
  height: 20px;
}

.email__sender button {
  align-items: center;
  border-radius: 100%;
  height: 100%;
  width: 43px;
  background-color: transparent;
}

.email__sender input {
  padding-top: 0;
  padding-bottom: 0;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #202124 !important;
}

.email__sender button:hover {
  border-radius: 100%;
  background-color: transparent;
}

.email__sender span:hover {
  border-radius: 100%;
  color: #202124;
}

.email__important__selected {
  color: gold !important;
}
